In [7]:
import pandas as pd
import requests

In [10]:
def create_dataframe_from_json(url):
    # Read JSON data
    response = requests.get(url)
    json_data = response.json()

    # Create a dictionary to store the data
    data_dict = {}

    # Loop through the "data" list in the JSON
    for item in json_data['data']:
        title_en = item['title_en']
        values = item['values']
        
        # Extract values.key and values.value pairs and add to the dictionary
        for entry in values:
            year = entry['key']
            value = entry['value']
            
            if title_en not in data_dict:
                data_dict[title_en] = {}
            
            data_dict[title_en][year] = value

    # Create a DataFrame from the dictionary
    df = pd.DataFrame(data_dict)
    
    return df

In [11]:
url = "http://stat.kg/ru/opendata/category/4925/json"
women_employment = create_dataframe_from_json(url)
women_employment

,Employment rate - female Kyrgyz Republic,Batken oblast,Djalal-Abad oblast,Issyk-Kul oblast,Naryn oblast,Osh oblast,Talas oblast,Chui oblast,Bishkek city,Osh city
2020,43.0,29.2,33.5,35.4,27.1,57.4,54.0,37.9,54.6,30.5
2019,42.7,32.5,32.9,34.1,28.4,55.1,50.5,39.1,54.9,31.6
2018,41.9,35.9,30.1,34.2,27.2,49.7,53.9,39.7,56.9,31.2
2017,41.8,39.4,33.6,31.7,29.0,46.8,56.0,38.9,55.6,29.7
2016,44.1,41.3,38.5,35.4,26.4,53.6,63.2,37.8,53.9,28.7

In [12]:
url = "http://stat.kg/ru/opendata/category/4924/json"
men_employment = create_dataframe_from_json(url)
men_employment

,Employment rate - male Kyrgyz Republic,Batken oblast,Djalal-Abad oblast,Issyk-Kul oblast,Naryn oblast,Osh oblast,Talas oblast,Chui oblast,Bishkek city,Osh city
2020,70.9,68.2,62.0,62.6,67.5,83.9,74.5,67.3,72.5,75.2
2019,71.9,69.8,62.6,63.8,66.9,85.3,74.9,68.8,73.4,75.0
2018,71.1,69.4,60.9,65.1,67.6,83.3,76.7,69.2,71.6,74.8
2017,70.8,70.8,63.5,65.4,64.3,79.9,78.6,66.6,73.2,74.2
2016,70.7,71.6,66.1,67.1,64.7,78.4,81.2,63.7,72.9,72.8